doctype html
html
	head
		script.
			function validateEmail() {
			    var email = document.forms["orderform"]["email"].value;
			    var atpos = email.indexOf("@");
			    var dotpos = email.lastIndexOf(".");
			    if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=email.length) {
			        return false;
			    }
				return true;
			}
			function validateForm() {
				var firstname = document.forms["orderform"]["firstname"].value;
				if (firstname == null || firstname == "") {
					alert("First name must be filled out");
					return false;
				}
				var lastname = document.forms["orderform"]["lastname"].value;
				if (lastname == null || lastname == "") {
					alert("Last name must be filled out");
					return false;
				}
				var phone = document.forms["orderform"]["phone"].value;
				if (phone == null || phone == "") {
					alert("Phone number must be filled out");
					return false;
				}
				if (!validateEmail()) {
					alert("Not a valid e-mail address");
					return false;
				}
			}
	body
		if user
			h1 Welcome !{user}.
		form(name="orderform",action="/placeorder",onsubmit="return validateForm()",method="POST")
			| First Name
			input(type="text", name="firstname")
			| Last Name
			input(type="text",name="lastname")
			br
			| Email
			input(type="text",name="email")
			br
			| Phone Number
			input(type="text",name="phone")
			| Share Type
			br
			br
			each product in info.Products
				select(name=product.name)
					- var max = parseInt(product.max_num)+1
					- for (var i=0; i<max; i++)
						option(value=i) !{i}
				| !{product.name}
				br
			br
			input(type="submit",value="Place Order")
		br
		if !user
			b Log in
			form(name="input", action="/login", method="POST")
				| Username
				input(type="text", name="username")
				| Password
				input(type="text", name="password")
				input(type="submit", value="Submit")
			br
			b Register
			form(name="input", action="/register", method="POST")
				| Username
				input(type="text", name="username")
				| Password
				input(type="text", name="password")
				input(type="submit", value="Submit")
		if user
			form(name="input", action="/logout", method="POST")
				input(type="submit", value="Logout")
			